# CSC111 Winter 2024 Project 2 Python Libraries

# Testing and code checking
hypothesis
pytest
python-ta~=2.7.0

# Graphics and data visualization
plotly>=5.18.0
pygame==2.5.2

# Specific to Project 2
customtkinter~=5.2.2
kaleido~=0.2.1
pillow~=10.2.0
pandas~=2.2.1
